@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-up1 {
  animation: scaleUp 3s ease-out forwards;
}
.scale-up2 {
  animation: scaleUp 6s ease-out forwards;
}
.scale-up3 {
  animation: scaleUp 8s ease-out forwards;
}
/* pic animation */

.scale-animation {
  animation: scaleUpDown 10s linear infinite;
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scale factor as desired */
  }
}

.gradient {
  background: radial-gradient(circle, 
  rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 30%), 
  radial-gradient(circle at top left, #76e2b3, #ffd700, #ff77e9);
  background-blend-mode: screen;
  background-size: cover;
}
